#control-panel-page
	background-image: url(http://placekitten.com/g/1280/720)
	background-attachment: fixed
	background-size: cover
	background-position: 50% 50%
	.background
		background: transparent
	.content
		label
			display: block
			margin: 0 0 $page-margin 0
			h3
				font-size: 14rem
				margin: 5rem 0
