section#control-panel
    h1 #{copy["control-panel"].mainTitle}
    .form
        - var i = 1
        while (++i < 12)
            label #{i}
                input(type="checkbox", value=(i))
        button.play #{copy["control-panel"].Play}
        button.stop #{copy["control-panel"].Stop}
