html(class=lang)
    head
        include _head
        style
            | html {
            | 	background-color: #000;
            | }
            | body {
            //- | 	display: none;
            | 	background-color: #000;
            | }
    body
        a#saver
        #app-page
            include ui/_site-loader
            include ui/_main-menu
            include ui/_header
            include ui/_footer
            #pages
                include pages/_control-panel-page
                include pages/_master-page
                .cover

        script(src="index.js")
