#main-menu
    .handle
        .contents
            .open-icon.fa.fa-bars
            .close-icon.fa.fa-close
    a.closer(href="#/master") Master Page
    a.closer(href="#/control-panel") Control Panel
