#main-menu
    button.handle.expando-button
        .contents
            .glyf
                .icon.open-icon.fa.fa-gear
            .glyf
                .icon.close-icon.fa &#8677;
    a.closer(href="#/master") Master Page
    a.closer(href="#/control-panel") Control Panel
